<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth Information</title>
</head>
<body>

<h2>OAuth Information</h2>

<div>
    <h3>Authorities:</h3>
    <ul>
        <li th:each="authority : ${authorities}" th:text="${authority}"></li>
    </ul>
</div>

<div>
    <h3>Details:</h3>
    <p th:text="${details}"></p>
</div>

<div>
    <h3>Principal:</h3>
    <p th:text="${principal}"></p>
</div>

<div>
    <h3>Principal (Autowired):</h3>
    <p th:text="${principalAutowired}"></p>
</div>

<div>
    <h3>Name:</h3>
    <p th:text="${name}"></p>
</div>

<div>
    <h3>DefaultOidcUser:</h3>
    <p th:text="${v1}"></p>
    <p th:text="${v2}"></p>
    <p th:text="${v3}"></p>
    <p th:text="${v4}"></p>
    <p th:text="${v5}"></p>
    <p th:text="${v6}"></p>
    <p th:text="${v7}"></p>
    <p th:text="${v8}"></p>
    <p th:text="${v9}"></p>
    <p th:text="${v10}"></p>
    <p th:text="${v11}"></p>
    <p th:text="${v12}"></p>
    <p th:text="${v13}"></p>
    <p th:text="${v14}"></p>
    <p th:text="${v15}"></p>
    <p th:text="${v16}"></p>
    <p th:text="${v17}"></p>
    <p th:text="${v18}"></p>
    <p th:text="${v19}"></p>
    <p th:text="${v20}"></p>
    <p th:text="${v21}"></p>
    <p th:text="${v22}"></p>
    <p th:text="${v23}"></p>
    <p th:text="${v24}"></p>
    <p th:text="${v25}"></p>
    <p th:text="${v26}"></p>
    <p th:text="${v27}"></p>
    <p th:text="${v28}"></p>
    <p th:text="${v29}"></p>
    <p th:text="${v30}"></p>
    <p th:text="${v31}"></p>
    <p th:text="${v32}"></p>
    <p th:text="${v33}"></p>
</div>

</body>
</html>
